# **Preprocessing** involves removing duplicates, converting necessary values to numerical from object datatype, finding Null values and dealing with them.

In [ ]:
import pandas as pd

In [ ]:
video_df= pd.read_csv('/content/final_df.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,2,3,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# Drop duplicate rows
video_df = video_df.drop_duplicates()

In [ ]:
video_df.head()

,channelTitle,title,tags,publishedAt,viewCount,likeCount,commentCount,duration
0,Aditya Music,"Hello Alludu Full Songs Jukebox | Suman, Rambh...",NaN,2023-02-21T17:30:05Z,139.0,1.0,0.0,PT20M55S
1,Aditya Music,"Ammayi Kosam Full Songs Jukebox | Vineeth, Mee...",NaN,2023-02-21T17:00:38Z,458.0,2.0,0.0,PT26M56S
2,Aditya Music,Ammo Okato Thareeku Full Songs Jukebox | Srika...,NaN,2023-02-21T16:30:13Z,534.0,3.0,0.0,PT26M58S
3,Aditya Music,Interview With Priya Hegde And Kiran Raj | Nuv...,NaN,2023-02-21T13:30:08Z,1364.0,14.0,0.0,PT26M52S
4,Aditya Music,Manusutho Preminchi Full Video Song | Samudram...,NaN,2023-02-21T13:00:16Z,1930.0,32.0,6.0,PT3M32S

In [ ]:
video_df.shape

(58246, 8)

In [ ]:
video_df[video_df['title'].isnull()]

,channelTitle,title,tags,publishedAt,viewCount,likeCount,commentCount,duration
131072,Ep- 9 | Harshdeep Kaur & Ranjit Bawa,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
video_df['channelTitle'].unique()

array(['Aditya Music', 'SonyMusicSouthVEVO', 'T-Series',
       ' | T-Series Mixtape Punjabi Season 2 Radhika&Vinay',
       '  Ep- 9 | Harshdeep Kaur & Ranjit Bawa',
       ' | Mixtape Punjabi Season 2', ' | T-Series', 'Saregama Music',
       'Zee Music Company'], dtype=object)

In [ ]:
video_df = video_df[video_df['channelTitle'].map(video_df['channelTitle'].value_counts()) > 1]

In [ ]:
video_df['channelTitle'].unique()

array(['Aditya Music', 'SonyMusicSouthVEVO', 'T-Series', 'Saregama Music',
       'Zee Music Company'], dtype=object)

In [ ]:
video_df.reset_index(inplace = True, drop = True)

In [ ]:
video_df.tail()

,channelTitle,title,tags,publishedAt,viewCount,likeCount,commentCount,duration
58237,Zee Music Company,Sar Utha Ke - Hawaa Hawaai - Full Audio Song -...,"['Hawaa Hawaai', 'Saqib Saleem (Film Actor)', ...",2014-04-19T07:35:00Z,23382.0,143.0,3,PT3M30S
58238,Zee Music Company,Hawaa Hawaai (Title Track) - Hawaa Hawaai - F...,"['Hawaa Hawaai', 'Saqib Saleem (Film Actor)', ...",2014-04-19T07:34:27Z,17703.0,91.0,12,PT4M20S
58239,Zee Music Company,Sapnon Ko Ginte Ginte - Hawaa Hawaai - Full A...,"['Hawaa Hawaai', 'Saqib Saleem (Film Actor)', ...",2014-04-19T07:33:41Z,17835.0,91.0,6,PT5M33S
58240,Zee Music Company,Tu Hi Toh Hai - Full Audio Song | Holiday | Ak...,"['Akshay Kumar (TV Personality)', 'Sonakshi Si...",2014-04-18T12:13:21Z,186138.0,1173.0,57,PT4M15S
58241,Zee Music Company,Sar Utha Ke | Hawaa Hawaai Official HD Video f...,"['Hawaa Hawaai', 'Saqib Saleem (Film Actor)', ...",2014-04-11T14:23:18Z,492630.0,3097.0,114,PT2M18S

In [ ]:
len(video_df)

58242

In [ ]:
video_df.isnull().sum()

channelTitle       0
title              0
tags            1203
publishedAt        3
viewCount          3
likeCount        103
commentCount      56
duration           3
dtype: int64

In [ ]:
video_df.dtypes

channelTitle     object
title            object
tags             object
publishedAt      object
viewCount       float64
likeCount       float64
commentCount     object
duration         object
dtype: object

In [ ]:
#Changing 'viewCount', 'likeCount','commentCount' into Numeric Format
numeric_cols= ['commentCount']
video_df[numeric_cols]=video_df[numeric_cols].apply(pd.to_numeric,errors='coerce',axis=1)

In [ ]:
video_df.dtypes

channelTitle     object
title            object
tags             object
publishedAt      object
viewCount       float64
likeCount       float64
commentCount    float64
duration         object
dtype: object

In [ ]:
video_df['likeCount'].isnull().sum(), video_df['commentCount'].isnull().sum()

(103, 56)

In [ ]:
# select rows where both likecount and commentcount are NULL
null_rows = video_df[(video_df['likeCount'].isnull()) & (video_df['commentCount'].isnull())]

# print the selected rows
pd.DataFrame(null_rows)

,channelTitle,title,tags,publishedAt,viewCount,likeCount,commentCount,duration
4431,Aditya Music,Kalavathi Kalavathi Full Video Song || Palasa ...,"['Palasa 1978', 'Palasa Movie', 'Palasa 1978 T...",2020-11-28T10:31:33Z,1740147.0,NaN,NaN,PT3M19S
4622,Aditya Music,Ningilona Jaabilamma Song Promo || Chinni Gund...,NaN,2020-08-14T09:49:49Z,32749.0,NaN,NaN,PT38S
7820,Aditya Music,Lover Also Fighter Also Cover By Shanmukh Jasw...,['LoverAlsoFighterAlso Cover By Shanmukh Jaswa...,2018-02-28T15:38:08Z,6124442.0,NaN,NaN,PT10M49S
29941,T-Series,Laung Laachi/Sheesha Ep 9★ Harshdeep K & Ranjit B,NaN,NaN,NaN,NaN,NaN,NaN
29951,T-Series,Teaser: Laung Laachi/Sheesha,NaN,NaN,NaN,NaN,NaN,NaN
29967,T-Series,Khudkhushi Video Song | Priyank Sharma & Rashm...,NaN,NaN,NaN,NaN,NaN,NaN
38850,T-Series,"khurafati Nitin Presents ""What The Luck Yaar""","['what the luck yaar', 'latest songs', 'khuraf...",2012-11-05T09:47:46Z,7418.0,NaN,NaN,PT1H11M41S
55253,Zee Music Company,Heels Meri High Hein - Official Music Video | ...,"['Heels Meri High Hein', 'Heels Meri High Hein...",2018-08-08T07:25:27Z,500407.0,NaN,NaN,PT3M30S
56841,Zee Music Company,Vande Mataram - Yeh Hai Judgement Hanged Till ...,"['Vande Mataram', 'vande mataram original', 'v...",2016-08-29T09:42:20Z,17139.0,NaN,NaN,PT2M5S
56995,Zee Music Company,Resham Ka Rumaal - Full Audio | Great Grand Ma...,"['resham ka rumaal', 'resham da', 'resham da r...",2016-07-01T12:33:12Z,641721.0,NaN,NaN,PT3M40S
56996,Zee Music Company,Teri Kamar Ko - LYRICAL | Great Grand Masti | ...,"['Teri Kamar Ko', 'great grand masti trailer',...",2016-07-01T09:04:32Z,783663.0,NaN,NaN,PT2M38S
57008,Zee Music Company,Teri Kamar Ko - FULL SONG | Great Grand Masti ...,"['Teri Kamar Ko', 'great grand masti trailer',...",2016-06-24T05:18:14Z,682514.0,NaN,NaN,PT3M46S
57013,Zee Music Company,"Teri Kamar Ko - Great Grand Masti | Riteish D,...","['Teri Kamar Ko', 'great grand masti trailer',...",2016-06-22T04:31:30Z,8132125.0,NaN,NaN,PT2M16S
57322,Zee Music Company,Kutta Kaat Gaya - Charlie Kay Chakkar Mein | S...,"['Charlie Kay Chakkar Mein', 'Charlie Kay Chak...",2015-10-29T05:41:01Z,83791.0,NaN,NaN,PT2M26S
57624,Zee Music Company,Ring Diamond Di | Madhuri | Akriti Kakkar & Sa...,"['ZMC', 'Zee Music Company', 'Hindi Latest Son...",2015-06-05T05:30:00Z,991534.0,NaN,NaN,PT3M16S

In [ ]:
len(video_df),len(null_rows)

(58242, 15)

In [ ]:
#Deleting this 15 rows as they can't impact much on dataset
video_df= video_df.drop(null_rows.index)
len(video_df)

58227

In [ ]:
video_df.head()

,channelTitle,title,tags,publishedAt,viewCount,likeCount,commentCount,duration
0,Aditya Music,"Hello Alludu Full Songs Jukebox | Suman, Rambh...",NaN,2023-02-21T17:30:05Z,139.0,1.0,0.0,PT20M55S
1,Aditya Music,"Ammayi Kosam Full Songs Jukebox | Vineeth, Mee...",NaN,2023-02-21T17:00:38Z,458.0,2.0,0.0,PT26M56S
2,Aditya Music,Ammo Okato Thareeku Full Songs Jukebox | Srika...,NaN,2023-02-21T16:30:13Z,534.0,3.0,0.0,PT26M58S
3,Aditya Music,Interview With Priya Hegde And Kiran Raj | Nuv...,NaN,2023-02-21T13:30:08Z,1364.0,14.0,0.0,PT26M52S
4,Aditya Music,Manusutho Preminchi Full Video Song | Samudram...,NaN,2023-02-21T13:00:16Z,1930.0,32.0,6.0,PT3M32S

In [ ]:
cmnt_null=video_df[video_df['commentCount'].isnull()]
video_df=video_df.drop(cmnt_null.index)
len(video_df)

58186

In [ ]:
video_df['likeCount'].describe()

count    5.809800e+04
mean     4.111393e+04
std      2.296413e+05
min      0.000000e+00
25%      1.740000e+02
50%      1.226500e+03
75%      8.474750e+03
max      1.252263e+07
Name: likeCount, dtype: float64

In [ ]:
video_df.head()

,channelTitle,title,tags,publishedAt,viewCount,likeCount,commentCount,duration
0,Aditya Music,"Hello Alludu Full Songs Jukebox | Suman, Rambh...",NaN,2023-02-21T17:30:05Z,139.0,1.0,0.0,PT20M55S
1,Aditya Music,"Ammayi Kosam Full Songs Jukebox | Vineeth, Mee...",NaN,2023-02-21T17:00:38Z,458.0,2.0,0.0,PT26M56S
2,Aditya Music,Ammo Okato Thareeku Full Songs Jukebox | Srika...,NaN,2023-02-21T16:30:13Z,534.0,3.0,0.0,PT26M58S
3,Aditya Music,Interview With Priya Hegde And Kiran Raj | Nuv...,NaN,2023-02-21T13:30:08Z,1364.0,14.0,0.0,PT26M52S
4,Aditya Music,Manusutho Preminchi Full Video Song | Samudram...,NaN,2023-02-21T13:00:16Z,1930.0,32.0,6.0,PT3M32S

In [ ]:
video_df.isnull().sum()

channelTitle       0
title              0
tags            1198
publishedAt        0
viewCount          0
likeCount         88
commentCount       0
duration           0
dtype: int64

In [ ]:
mean_like= video_df['likeCount'].mean()
mean_like

41113.92786326552

In [ ]:
video_df['likeCount'].fillna(mean_like,inplace=True)

In [ ]:
video_df.dtypes

channelTitle     object
title            object
tags             object
publishedAt      object
viewCount       float64
likeCount       float64
commentCount    float64
duration         object
dtype: object

In [ ]:
video_df.to_csv('video_df.csv', index=False, header=True)