# **Feature Selection** involves adding tag count, duration in Seconds, published weekday and year of a video.

In [ ]:
import pandas as pd

In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

# Define file path of CSV file in Google Drive
file_path = "/content/drive/MyDrive/video_df.csv"

Mounted at /content/drive

In [ ]:
# Load CSV file into a pandas dataframe
df = pd.read_csv(file_path)

# Print first few rows of the dataframe
df.head()

,channelTitle,title,tags,publishedAt,viewCount,likeCount,commentCount,duration
0,Aditya Music,"Hello Alludu Full Songs Jukebox | Suman, Rambh...",NaN,2023-02-21T17:30:05Z,139.0,1.0,0.0,PT20M55S
1,Aditya Music,"Ammayi Kosam Full Songs Jukebox | Vineeth, Mee...",NaN,2023-02-21T17:00:38Z,458.0,2.0,0.0,PT26M56S
2,Aditya Music,Ammo Okato Thareeku Full Songs Jukebox | Srika...,NaN,2023-02-21T16:30:13Z,534.0,3.0,0.0,PT26M58S
3,Aditya Music,Interview With Priya Hegde And Kiran Raj | Nuv...,NaN,2023-02-21T13:30:08Z,1364.0,14.0,0.0,PT26M52S
4,Aditya Music,Manusutho Preminchi Full Video Song | Samudram...,NaN,2023-02-21T13:00:16Z,1930.0,32.0,6.0,PT3M32S

In [ ]:
df[['viewCount', 'likeCount', 'commentCount']] = df[['viewCount', 'likeCount', 'commentCount']].astype(int)

In [ ]:
df.dtypes

channelTitle    object
title           object
tags            object
publishedAt     object
viewCount        int64
likeCount        int64
commentCount     int64
duration        object
dtype: object

In [ ]:
df.head()

,channelTitle,title,tags,publishedAt,viewCount,likeCount,commentCount,duration
0,Aditya Music,"Hello Alludu Full Songs Jukebox | Suman, Rambh...",NaN,2023-02-21T17:30:05Z,139,1,0,PT20M55S
1,Aditya Music,"Ammayi Kosam Full Songs Jukebox | Vineeth, Mee...",NaN,2023-02-21T17:00:38Z,458,2,0,PT26M56S
2,Aditya Music,Ammo Okato Thareeku Full Songs Jukebox | Srika...,NaN,2023-02-21T16:30:13Z,534,3,0,PT26M58S
3,Aditya Music,Interview With Priya Hegde And Kiran Raj | Nuv...,NaN,2023-02-21T13:30:08Z,1364,14,0,PT26M52S
4,Aditya Music,Manusutho Preminchi Full Video Song | Samudram...,NaN,2023-02-21T13:00:16Z,1930,32,6,PT3M32S

In [ ]:
df['channelTitle'].unique()

array(['Aditya Music', 'SonyMusicSouthVEVO', 'T-Series', 'Saregama Music',
       'Zee Music Company'], dtype=object)

In [ ]:
df['tags'].isnull().sum()

1198

In [ ]:
df['tags'][123]

"['bheemadevarapally branch', 'bheemadevarapally branch movie teaser', 'bheemadevarapally movie teaser', 'bheemadevarapally teaser', 'bheemadevarapally branchi new teaser', 'bheemadevarapally branchi songs', 'anji valguman', 'ramesh cheppala', 'bheemadevarapally offical teaser', 'latest movie teasers telugu', 'aditya music', 'bheemadevarapally branch teaser', 'new teasers telugu', 'bhimadevarapally branch teaser', 'bhimadevrapalli branch teaser', 'bimadevrapalli branch teaser', 'trending teaser bhimadevarapally']"

In [ ]:
max(df.tagcount)

12

In [ ]:
#Adding Tag count
df['tagcount'] = df['tags'].apply(lambda x: 0 if pd.isna(x) else len(x.split("|")))

In [ ]:
!pip install isodate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting isodate
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 KB 1.8 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from isodate) (1.15.0)
Installing collected packages: isodate
Successfully installed isodate-0.6.1

In [ ]:
#Duration into Duration in seconds
from isodate import parse_duration

df['durationSecs']= df['duration'].apply(lambda x: parse_duration(x))
df['durationSecs']=df['durationSecs'].astype('timedelta64[s]')

In [ ]:
df[['durationSecs','duration']]

       durationSecs  duration
0            1255.0  PT20M55S
1            1616.0  PT26M56S
2            1618.0  PT26M58S
3            1612.0  PT26M52S
4             212.0   PT3M32S
...             ...       ...
58181         210.0   PT3M30S
58182         260.0   PT4M20S
58183         333.0   PT5M33S
58184         255.0   PT4M15S
58185         138.0   PT2M18S

[58186 rows x 2 columns]

In [ ]:
#published Year
from dateutil import parser
# Extract year from publishedAt column and add to DataFrame
df['publishYear'] = df['publishedAt'].apply(lambda x: x.strftime("%Y"))

In [ ]:
df['publishDayName'] = df['publishedAt'].apply(lambda x: x.strftime("%A"))

In [ ]:
df.head()

,channelTitle,title,tags,publishedAt,viewCount,likeCount,commentCount,duration,tagcount,publishDayName,durationSecs,publishYear
0,Aditya Music,"Hello Alludu Full Songs Jukebox | Suman, Rambh...",NaN,2023-02-21 17:30:05+00:00,139,1,0,PT20M55S,0,Tuesday,1255.0,2023
1,Aditya Music,"Ammayi Kosam Full Songs Jukebox | Vineeth, Mee...",NaN,2023-02-21 17:00:38+00:00,458,2,0,PT26M56S,0,Tuesday,1616.0,2023
2,Aditya Music,Ammo Okato Thareeku Full Songs Jukebox | Srika...,NaN,2023-02-21 16:30:13+00:00,534,3,0,PT26M58S,0,Tuesday,1618.0,2023
3,Aditya Music,Interview With Priya Hegde And Kiran Raj | Nuv...,NaN,2023-02-21 13:30:08+00:00,1364,14,0,PT26M52S,0,Tuesday,1612.0,2023
4,Aditya Music,Manusutho Preminchi Full Video Song | Samudram...,NaN,2023-02-21 13:00:16+00:00,1930,32,6,PT3M32S,0,Tuesday,212.0,2023

In [ ]:
df.columns

Index(['channelTitle', 'title', 'tags', 'publishedAt', 'viewCount',
       'likeCount', 'commentCount', 'duration', 'tagcount', 'publishDayName',
       'durationSecs', 'publishYear'],
      dtype='object')

In [ ]:
final_df= df.drop(['tags','publishedAt','duration'],axis=1)

In [ ]:
final_df.head()

,channelTitle,title,viewCount,likeCount,commentCount,tagcount,publishDayName,durationSecs,publishYear
0,Aditya Music,"Hello Alludu Full Songs Jukebox | Suman, Rambh...",139,1,0,0,Tuesday,1255.0,2023
1,Aditya Music,"Ammayi Kosam Full Songs Jukebox | Vineeth, Mee...",458,2,0,0,Tuesday,1616.0,2023
2,Aditya Music,Ammo Okato Thareeku Full Songs Jukebox | Srika...,534,3,0,0,Tuesday,1618.0,2023
3,Aditya Music,Interview With Priya Hegde And Kiran Raj | Nuv...,1364,14,0,0,Tuesday,1612.0,2023
4,Aditya Music,Manusutho Preminchi Full Video Song | Samudram...,1930,32,6,0,Tuesday,212.0,2023

In [ ]:
final_df.shape

(58186, 9)

In [ ]:
final_df.to_csv('Dataset_for_Analysis.csv',index=False, header= True)